
.card
    border:none
    .image-wrap
        &:hover .overlay
            opacity: 1;
        position: relative
        .overlay
            transition: opacity .35s
            opacity: 0
            background: rgba(0, 0, 0, 0.5)
            position: absolute
            top: 0
            bottom: 0
            width: 100%