.backdrop
    position: relative
    background-image: url('/src/images/background.jpg')
    background-size: cover
    background-position: center

.me
    width: 50%
    display: block
    margin: 0 auto

@media screen and (min-width: 640px)
    .scroll-large
        overflow: scroll
        max-height: 100vh

.personalInfo
    margin-top: 14px
    li
        line-height: 1.5em;
        margin: 1.5em 0 0 0;
        padding-left: 2.25em;
        position: relative;
        color: #b2b2b2
        a
            color: inherit
        h3
            font-size: 1.5em
            color: #b2b2b2
            top: 0
            left: 0
            position: absolute
            text-align: center
            width: 1em