@import "../node_modules/foundation-sites/dist/css/foundation-flex.min.css"
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')

baseColor = #226764
accentColor = #A8383B
greyColor = #94A09F

.area
    padding: 3.5rem

.image-text
    color: white
    font-family: 'Open Sans', sans-serif
    &.headers
        text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.5)

.mega
    color: baseColor
    &h1
        font-size:3em
    &h2
        font-size:2em
    &h3
        font-size:1em
.super
    color: accentColor

.plain
    color: greyColor

section
    margin-bottom: 4rem
    margin-top: 4rem

ul.simple
    list-style: none

@media screen and (min-width: 640px)
    .fullHeight
        min-height: 100vh

.round-image
    border-radius: 50%

.button
    padding-left: 30px
    padding-right: 30px
    &.accent
        background: accentColor
        &:hover
            background: darken(accentColor, 10%)

footer
    text-align: center
    display: block
    background-image: url('/src/images/background.jpg')
    background-size: cover
    background-position-y: bottom
    background-position-x: center
    padding: 40px 0;
    @media screen and (min-width: 640px)
        background-image: none
        position: absolute
        right: 0px
        left: 0;
        bottom: 0;
        transform: translateX(0%);
    .social 
        display: inline-block
        a 
            padding: 0 10px
    .icons a 
        font-size: 1.7em
        color: rgba(255, 255, 255, 0.6)



.backdrop
    position: relative
    background-image: url('/src/images/background.jpg')
    background-size: cover
    background-position: center

.me
    width: 50%
    display: block
    margin: 0 auto

@media screen and (min-width: 640px)
    .scroll-large
        overflow: scroll
        max-height: 100vh

.personalInfo
    margin-top: 14px
    li
        line-height: 1.5em;
        margin: 1.5em 0 0 0;
        padding-left: 2.25em;
        position: relative;
        color: #b2b2b2
        a
            color: inherit
        h3
            font-size: 1.5em
            color: #b2b2b2
            top: 0
            left: 0
            position: absolute
            text-align: center
            width: 1em